{% extends "_layouts/cp" %}
{% set centered = true %}

{% set artworks = craft.diffusionartwork.getAllArtwork %}
{% set title = "Diffusion ArtWork"|t %}

{% set content %}

    <p id="noartwork"{% if artworks|length %} class="hidden"{% endif %}>
        {{ "There is no current artwork added. Go on and add some."|t }}
    </p>

    {% if artworks|length %}
        <table id="ingredients" class="data">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th class="thin"></th>
            </thead>
            <tbody>

                {% for artwork in artworks %}
                    <tr data-id="{{ artwork.id }}" data-name="{{ artwork.name|t }}">
                        <td><a href="{{ url('diffusionartwork/'~artwork.id) }}">{{ artwork.name }}</a></td>
                        <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('diffusionartwork/new') }}" class="btn add icon">{{ "New Awtwork"|t }}</a>
    </div>

{% endset %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#ingredients',
        noObjectsSelector: '#noingredients',
        deleteAction: 'cocktailRecipes/ingredients/deleteIngredient'
    });
{% endset %}
{% includeJs js %}
